
$primary-color:#9FA8DA;
$primary-success:#67c23a;
$primary-info:#909399;
$primary-warning:#e6a23c;
$primary-danger:#f56c6c;

//背景颜色
$primary-bgColor:#b0bec5;

//字体颜色
$primary-text--color:#fff;
$primary-h1--size:28px;


//radius
$primary-radius:8px;
$primary-border--width:8px;

@import './fn/position.scss'